<a href="https://colab.research.google.com/github/venkat2ram/AI_Playground/blob/main/House_Price_Prediction_Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This notebook is created to perform data analysis for House price prediction.**

Import packages.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Import data using pandas.

In [ ]:
dataset=pd.read_csv(r'C:\AI Practice\House Price Prediction - Kaggle\house-prices-advanced-regression-techniques\train.csv')
dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

**Get all the features with Null values**

In [ ]:
features_with_nan=[feature for feature in dataset.columns if dataset[feature].isnull().sum()>1 ]

In [ ]:
features_with_nan

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [ ]:
for feature in features_with_nan:
  print(feature, 'has ', np.round(dataset[feature].isnull().mean(),4), '% of nan values')

LotFrontage has  0.1774 % of nan values
Alley has  0.9377 % of nan values
MasVnrType has  0.0055 % of nan values
MasVnrArea has  0.0055 % of nan values
BsmtQual has  0.0253 % of nan values
BsmtCond has  0.0253 % of nan values
BsmtExposure has  0.026 % of nan values
BsmtFinType1 has  0.0253 % of nan values
BsmtFinType2 has  0.026 % of nan values
FireplaceQu has  0.4726 % of nan values
GarageType has  0.0555 % of nan values
GarageYrBlt has  0.0555 % of nan values
GarageFinish has  0.0555 % of nan values
GarageQual has  0.0555 % of nan values
GarageCond has  0.0555 % of nan values
PoolQC has  0.9952 % of nan values
Fence has  0.8075 % of nan values
MiscFeature has  0.963 % of nan values

**As we have missing values for many features, let plot a count plot.**

LotFrontage 0.1774  % missing values
Alley 0.9377  % missing values
MasVnrType 0.0055  % missing values
MasVnrArea 0.0055  % missing values
BsmtQual 0.0253  % missing values
BsmtCond 0.0253  % missing values
BsmtExposure 0.026  % missing values
BsmtFinType1 0.0253  % missing values
BsmtFinType2 0.026  % missing values
FireplaceQu 0.4726  % missing values
GarageType 0.0555  % missing values
GarageYrBlt 0.0555  % missing values
GarageFinish 0.0555  % missing values
GarageQual 0.0555  % missing values
GarageCond 0.0555  % missing values
PoolQC 0.9952  % missing values
Fence 0.8075  % missing values
MiscFeature 0.963  % missing values

In [ ]:
np.round(dataset['Alley'].isnull().mean(), 4)

0.9377