<a href="https://colab.research.google.com/github/venkat2ram/AI_Playground/blob/main/Tabular_Playground_Series_Aug_2021_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import os
import math
import time
import random
import shutil
from pathlib import Path

import scipy as sp
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

In [2]:
dataset = pd.read_csv(r'C:\AI Practice\Tabular Playground Series - Aug 2021\train.csv')
pred_dataset=pd.read_csv(r'C:\AI Practice\Tabular Playground Series - Aug 2021\test.csv')

In [3]:
dataset.drop('id',inplace=True,axis=1)
pred_dataset.drop('id',inplace=True,axis=1)

In [4]:
dataset.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,loss
0,-0.002350,59,0.766739,-1.350460,42.2727,16.68570,30.3599,1.267300,0.392007,1.09101,...,-42.43990,26.854000,1.45751,0.696161,0.941764,1.828470,0.924090,2.29658,10.48980,15
1,0.784462,145,-0.463845,-0.530421,27324.9000,3.47545,160.4980,0.828007,3.735860,1.28138,...,-184.13200,7.901370,1.70644,-0.494699,-2.058300,0.819184,0.439152,2.36470,1.14383,3
2,0.317816,19,-0.432571,-0.382644,1383.2600,19.71290,31.1026,-0.515354,34.430800,1.24210,...,7.43721,37.218100,3.25339,0.337934,0.615037,2.216760,0.745268,1.69679,12.30550,6
3,0.210753,17,-0.616454,0.946362,-119.2530,4.08235,185.2570,1.383310,-47.521400,1.09130,...,9.66778,0.626942,1.49425,0.517513,-10.222100,2.627310,0.617270,1.45645,10.02880,2
4,0.439671,20,0.968126,-0.092546,74.3020,12.30650,72.1860,-0.233964,24.399100,1.10151,...,290.65700,15.604300,1.73557,-0.476668,1.390190,2.195740,0.826987,1.78485,7.07197,1

In [5]:
pred_dataset.head()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f90,f91,f92,f93,f94,f95,f96,f97,f98,f99
0,0.812665,15,-1.239120,-0.893251,295.5770,15.87120,23.04360,0.942256,29.898000,1.11394,...,0.446389,-422.332,-1.44630,1.69075,1.059300,-3.010570,1.94664,0.529470,1.386950,8.78767
1,0.190344,131,-0.501361,0.801921,64.8866,3.09703,344.80500,0.807194,38.421900,1.09695,...,0.377179,10352.200,21.06270,1.84351,0.251895,4.440570,1.90309,0.248534,0.863881,11.79390
2,0.919671,19,-0.057382,0.901419,11961.2000,16.39650,273.24000,-0.003300,37.940000,1.15222,...,0.990140,3224.020,-2.25287,1.55100,-0.559157,17.838600,1.83385,0.931796,2.336870,9.05400
3,0.860985,19,-0.549509,0.471799,7501.6000,2.80698,71.08170,0.792136,0.395235,1.20157,...,1.396880,9689.760,14.77150,1.41390,0.329272,0.802437,2.23251,0.893348,1.359470,4.84833
4,0.313229,89,0.588509,0.167705,2931.2600,4.34986,1.57187,1.118300,7.754630,1.16807,...,0.862502,2693.350,44.18050,1.58020,-0.191021,26.253000,2.68238,0.361923,1.532800,3.70660

In [6]:
dependent_columns=pred_dataset.columns

In [7]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler((0,1))
scaler.fit(dataset[dependent_columns])
dataset[dependent_columns]=scaler.transform(dataset[dependent_columns])
pred_dataset[dependent_columns]=scaler.transform(pred_dataset[dependent_columns])

In [8]:
dataset

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f91,f92,f93,f94,f95,f96,f97,f98,f99,loss
0,0.058636,0.262069,0.490389,0.039642,0.167960,0.520648,0.072185,0.663569,0.519427,0.201658,...,0.188769,0.368139,0.261862,0.683482,0.379244,0.441330,0.835195,0.572721,0.325062,15
1,0.748009,0.558621,0.420724,0.299497,0.768412,0.176353,0.203889,0.609690,0.522879,0.446219,...,0.186655,0.142436,0.308433,0.381462,0.334849,0.290870,0.394403,0.585975,0.056975,3
2,0.339152,0.124138,0.422494,0.346325,0.197473,0.599544,0.072937,0.444931,0.554563,0.395758,...,0.189513,0.491562,0.597841,0.592630,0.374409,0.499214,0.672652,0.456020,0.377146,6
3,0.245348,0.117241,0.412084,0.767463,0.164405,0.192171,0.228946,0.677797,0.469969,0.202030,...,0.189547,0.055806,0.268735,0.638174,0.214041,0.560417,0.556307,0.409258,0.311839,2
4,0.445917,0.127586,0.501790,0.438252,0.168665,0.406514,0.114515,0.479443,0.544208,0.215147,...,0.193739,0.234168,0.313882,0.386035,0.385880,0.496081,0.746932,0.473154,0.227023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.870249,0.079310,0.484528,0.450112,0.167175,0.118774,0.082395,0.612679,0.545368,0.242677,...,0.241886,0.269060,0.254725,0.660997,0.438570,0.594125,0.869547,0.333680,0.065403,11
249996,0.274089,0.082759,0.415447,0.890131,0.165821,0.544036,0.256987,0.360378,0.386499,0.333118,...,0.218431,0.280349,0.288654,0.467646,0.449557,0.466087,0.686884,0.403699,0.059352,5
249997,0.101018,0.241379,0.473186,0.690674,0.212432,0.465809,0.053025,0.445611,0.602446,0.346594,...,0.188978,0.179434,0.290540,0.417925,0.779458,0.319717,0.750155,0.321512,0.037225,1
249998,0.916993,0.100000,0.390208,0.650222,0.271376,0.375093,0.045322,0.583712,0.641758,0.732520,...,0.185292,0.310163,0.580464,0.702730,0.403668,0.755847,0.629169,0.313121,0.236888,10
249999,0.274682,0.234483,0.488270,0.244940,0.171375,0.581590,0.084303,0.565191,0.399904,0.260418,...,0.269773,0.507717,0.666021,0.368713,0.350692,0.447806,0.406551,0.307880,0.853506,7

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(dataset[dependent_columns],dataset['loss'],test_size=0.25,random_state=True,shuffle=True)

In [ ]:
X

#**Classifier**

In [ ]:
%%time
from sklearn.svm import LinearSVC
svcl=LinearSVC()
svcl.fit(X_train,y_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dct=DecisionTreeClassifier()
dct.fit(X_train,y_train)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=40)
rfc.fit(X_train,y_train)

In [ ]:
mean_squared_error(y_test,logc.predict(X_test))**0.5

In [ ]:
lass.predict(X_test)

In [ ]:
y_test

appending the prediction from

#**LightGBM using Optuna Hyperparameter tuning**

In [ ]:
import optuna.integration.lightgbm as lgbo

In [ ]:
lgb_train=lgbo.Dataset(X_train,y_train)
lgb_valid=lgbo.Dataset(X_test,y_test)

In [ ]:
params={'objective':'mean_squared_error','metric': 'rmse'}
model=lgbo.train(params,lgb_train,valid_sets=lgb_valid,verbose_eval=False, num_boost_round=100, early_stopping_rounds=5)

In [ ]:
best_lgb_params =model.params
best_lgb_params["learning_rate"] = 0.003
best_lgb_params["early_stopping_round"] = 1000
best_lgb_params["num_iterations"] = 80000

In [ ]:
from sklearn.model_selection import KFold
import lightgbm as lgb
kfld=KFold(n_splits=5,shuffle=True,random_state=42)

models=[]

for fold,(train_index,test_index) in enumerate(kfld.split(dataset[dependent_columns],dataset['loss'])):
  lgb_train=lgb.Dataset(dataset[dependent_columns].loc[train_index],dataset['loss'].loc[train_index])
  lgb_test=lgb.Dataset(dataset[dependent_columns].loc[test_index],dataset['loss'].loc[test_index])
  _model=lgb.train(best_lgb_params,lgb_train,valid_sets=lgb_test,verbose_eval=100)
  models.append(_model)

In [ ]:
from sklearn.metrics import mean_squared_error
for model1 in models:
  print(mean_squared_error(y_test,model1.predict(X_test))**0.5)

In [ ]:
test_final=pd.read_csv(r'C:\AI Practice\Tabular Playground Series - Aug 2021\test.csv')
id_index=test_final['id']
test_final.drop('id',inplace=True,axis=1)
test_final[dependent_columns]=scaler.transform(test_final[dependent_columns])

In [ ]:
test_final

In [ ]:
lpred=[]
spl=5
for model in models:
   lpred.append(model.predict(test_final[dependent_columns]))
pred=lpred[0]
for i in range(1,spl):
   pred += lpred[i]
test_pred = pred /spl

In [ ]:
test_pred=pd.DataFrame(test_pred)
test_pred.columns=['loss']

In [ ]:
test_pred['id']=id_index

In [ ]:
test_pred=test_pred[['id','loss']]

In [ ]:
%%time
test_pred.to_csv(r'C:\AI Practice\Tabular Playground Series - Aug 2021\submit.csv',index=False)